NODE_ENV=production
DATABASE_URL="file:./dev.sqlite"
SCOPES=read_discounts,read_orders,read_products,read_themes,write_discounts
SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
SHOPIFY_APP_NAME="Discount Bundle App"
SHOPIFY_APP_URL=https://discount-bunde-app-production.up.railway.app
SUPPORT_EMAIL=vikasprasad2903@gmail.com
# Set to true only while testing billing on a development store.
SHOPIFY_BILLING_TEST=false
